@page "/power"
@rendermode InteractiveServer

<h3>Power</h3>

@* <input type="number" name="power" min="0" max="20" @bind="n" @onclick="Calculate" /> <label for="" style="font-size:24px;"></label> *@

@code {

}
